<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ page.url | absolute_url }}"
  },
  "headline": "{{ page.title | escape }}",
  "description": "{{ page.excerpt | strip_html | strip_newlines | escape }}",
  "image": [
    "{{ page.header.og_image | default: page.header.image | absolute_url }}"
  ],
  "author": {
    "@type": "Person",
    "name": "{{ page.author | default: site.author | escape }}"
  },
  "publisher": {
    "@type": "Organization",
    "name": "{{ site.title | escape }}",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ site.logo | absolute_url | default: site.og_image }}"
    }
  },
  "datePublished": "{{ page.date | date_to_xmlschema }}",
  {% if page.last_modified_at %}
  "dateModified": "{{ page.last_modified_at | date_to_xmlschema }}",
  {% endif %}
  "url": "{{ page.url | absolute_url }}"
}
</script>
