<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ page.url | absolute_url }}"
  },
  "headline": {{ page.title | jsonify }},
  "description": {{ page.excerpt | default: page.description | jsonify }},
  "image": {{ page.header.image | absolute_url | jsonify }},
  "author": {
    "@type": "Person",
    "name": {{ page.author | default: site.author | jsonify }}
  },
  "publisher": {
    "@type": "Organization",
    "name": {{ site.title | jsonify }},
    "logo": {
      "@type": "ImageObject",
      "url": {{ site.og_image | absolute_url | jsonify }}
    }
  },
  {% if page.date %}
  "datePublished": "{{ page.date | date_to_xmlschema }}",
  {% endif %}
  {% if page.last_modified_at %}
  "dateModified": "{{ page.last_modified_at | date_to_xmlschema }}"
  {% endif %}
}
</script>
