<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Product",
  "name": "{{ page.title | escape }}",
  "image": ["{{ page.product_image | default: '/images/artemisia-annua-sweet-wormwood-tea-closeup.webp' | absolute_url }}"],
  "description": "{{ page.product_description | escape }}",
  "brand": {
    "@type": "Brand",
    "name": "{{ page.product_brand | default: 'Wild Witch Herbs' | escape }}"
  },
  "sku": "{{ page.product_sku | escape }}",
  "offers": [
    {% for offer in page.product_offers %}
    {
      "@type": "Offer",
      "url": "{{ offer.url | absolute_url }}",
      "priceCurrency": "{{ offer.priceCurrency }}",
      "price": "{{ offer.price }}",
      "itemCondition": "https://schema.org/NewCondition",
      "availability": "https://schema.org/InStock",
      "name": "{{ offer.name | escape }}"
    }{% if forloop.last == false %},{% endif %}
    {% endfor %}
  ]
}
</script>
