.page__content .anchorjs-link {
  display: none;
}



body {
  background: url("/assets/images/background-plantain-herb.webp") no-repeat center center fixed;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.8); // Optional white overlay for readability
  background-blend-mode: overlay;
}


.page__content {
  background-color: rgba(255, 255, 255, 0.6); // White box with transparency
  padding: 1rem;
  border-radius: 1rem;
}

.archive a {
  font-weight: bold;
  text-decoration: none;
}

