---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.page__meta,
.page__taxonomy {
  display: none !important;
}

body {
  background-image: url("/assets/images/Adobe Express - file (1).png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.page,
.page__content {
  background-color: rgba(255, 255, 255, 0.30); /* semi-transparent white box over background */
  padding: 2rem;
  border-radius: 12px;
}




@import "custom";

