/* Hero image */
.page__hero-full img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.page__hero-full {
  margin-bottom: 1.5rem !important;
}


/* Content spacing */
.page__content {
  margin-top: 1rem;
}
