---
layout: null
---

<!doctype html>
<html lang="{{ site.locale | replace: "_", "-" | default: "en" }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
    {% unless page.seo == false %}{% seo %}{% endunless %}
  </head>

  <body class="layout--{{ page.layout | default: layout.layout }}">

    {% include_cached skip-links.html %}
    {% include masthead.html %}

<main id="main" role="main">

  {{ content }}

</main>

    <div id="footer" class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include_cached footer.html %}
      </footer>
    </div>


{% include scripts.html %}
  </body>
</html>

