---
layout: archive
---

{{ content }}

{% assign related_posts = site.posts | where_exp: "post", "post.url != page.url" | limit: 100 %}
{% assign matches = "" %}
{% for post in related_posts %}
  {% assign overlap = false %}
  {% for tag in post.tags %}
    {% if page.tags contains tag %}
      {% assign overlap = true %}
    {% endif %}
  {% endfor %}
  {% if overlap %}
    {% assign matches = matches | append: post.url | append: ";" %}
  {% endif %}
{% endfor %}
{% assign related_urls = matches | split: ";" | uniq | reject: "" %}
{% assign related_posts = site.posts | where_exp: "post", "related_urls contains post.url" | limit: 3 %}
{% if related_posts.size > 0 %}
  <div class="related-posts-box">
    <h3 class="related-posts-title">You Might Also Like</h3>
    <ul class="related-posts-list">
      {% for post in related_posts %}
        <li><a href="{{ post.url | relative_url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
  </div>
{% endif %}



<ul class="taxonomy__index">
  {% assign postsInYear = site.posts | where_exp: "item", "item.hidden != true" | group_by_exp: 'post', 'post.date | date: "%Y"' %}
  {% for year in postsInYear %}
    <li>
      <a href="#{{ year.name }}">
        <strong>{{ year.name }}</strong> <span class="taxonomy__count">{{ year.items | size }}</span>
      </a>
    </li>
  {% endfor %}
</ul>

{% assign entries_layout = page.entries_layout | default: 'list' %}
{% assign postsByYear = site.posts | where_exp: "item", "item.hidden != true" | group_by_exp: 'post', 'post.date | date: "%Y"' %}
{% for year in postsByYear %}
  <section id="{{ year.name }}" class="taxonomy__section">
    <h2 class="archive__subtitle">{{ year.name }}</h2>
    <div class="entries-{{ entries_layout }}">
      {% for post in year.items %}
        {% include archive-single.html type=entries_layout %}
      {% endfor %}
    </div>
    <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
  </section>
{% endfor %}
